openapi: 3.0.3
info:
  title: WK CRM Microservices API
  version: 1.0.0
  description: API RESTful para Customers, Leads e Opportunities
servers:
  - url: https://api.consultoriawk.com/api
paths:
  /login:
    post:
      summary: Login e obtenção de token Bearer (Sanctum)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Token gerado
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  token_type:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '422':
          description: Credenciais inválidas
  /logout:
    post:
      summary: Logout e revogação do token atual
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout efetuado
  /me:
    get:
      summary: Retorna o usuário autenticado
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dados do usuário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /customers:
    get:
      summary: Listar todos os clientes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de clientes
    post:
      summary: Criar novo cliente
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '201':
          description: Cliente criado
  /customers/{id}:
    get:
      summary: Buscar cliente por ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cliente encontrado
    put:
      summary: Atualizar cliente
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: Cliente atualizado
    delete:
      summary: Excluir cliente
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cliente excluído
  /leads:
    get:
      summary: Listar todos os leads
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de leads
    post:
      summary: Criar novo lead
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead'
      responses:
        '201':
          description: Lead criado
  /leads/{id}:
    get:
      summary: Buscar lead por ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lead encontrado
    put:
      summary: Atualizar lead
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead'
      responses:
        '200':
          description: Lead atualizado
    delete:
      summary: Excluir lead
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lead excluído
  /opportunities:
    get:
      summary: Listar todas as oportunidades
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de oportunidades
    post:
      summary: Criar nova oportunidade
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Opportunity'
      responses:
        '201':
          description: Oportunidade criada
  /opportunities/{id}:
    get:
      summary: Buscar oportunidade por ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Oportunidade encontrada
    put:
      summary: Atualizar oportunidade
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Opportunity'
      responses:
        '200':
          description: Oportunidade atualizada
    delete:
      summary: Excluir oportunidade
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Oportunidade excluída
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
    Customer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        status:
          type: string
        company:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip_code:
          type: string
        country:
          type: string
    Lead:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        status:
          type: string
        source:
          type: string
        company:
          type: string
    Opportunity:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        value:
          type: number
        status:
          type: string
        customer_id:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
